In [5]:
print("Hello World")

Hello World

### This Header Note

In [6]:
intVar=10
floatVar=10.5
stringVar="Birhane"

In [11]:
print(intVar)

10

In [12]:
print(floatVar)

10.5

In [13]:
print(stringVar)

Birhane

In [14]:
print(type(intVar))

<class 'int'>

In [15]:
print(type(floatVar))

<class 'float'>

In [16]:
print(type(stringVar))

<class 'str'>

In [19]:
share_of_rent=285/2.0

In [20]:
print("1:",share_of_rent)

1: 142.5

In [21]:
print(type(share_of_rent))

<class 'float'>

In [22]:
round_share=int(share_of_rent)

In [23]:
print("2:",round_share)

2: 142

In [24]:
print(type(round_share))

<class 'int'>

In [25]:
prices={"Egg":2.5,"Steak":75,"Bacon":3.6,"Beer":36,"Market Place":"Sholla Gebeya"}

In [26]:
print(prices)

{'Egg': 2.5, 'Steak': 75, 'Bacon': 3.6, 'Beer': 36, 'Market Place': 'Sholla Gebeya'}

In [27]:
print(type(prices))

<class 'dict'>

In [28]:
pricesMerkato={"Egg":2.6,"Steak":6.5,"Bacon":15.2,"Beer":32,"Market Place":"Merkato Gebeya"}

In [30]:
if prices["Egg"]<pricesMerkato["Egg"]:
    print("Egg in shall is cheaper than merkato")
else:
    print("Egg in shall is costy than merkato")

Egg in shall is cheaper than merkato

In [33]:
print("Sholla Egg price",prices["Egg"])
print("Merkato Egg price",pricesMerkato["Egg"])

Sholla Egg price 2.5
Merkato Egg price 2.6

In [34]:
myList=[4,'m',5,7]
print(myList)

[4, 'm', 5, 7]

In [36]:
myList[1]=2
print(myList)

[4, 2, 5, 7]

In [40]:
species=["Goat","Cat","Tiger","Python","Anaconda","Lion"]

In [41]:
print(species)

['Goat', 'Cat', 'Tiger', 'Python', 'Anaconda', 'Lion']

In [42]:
for animal in species:
    print(animal)

Goat
Cat
Tiger
Python
Anaconda
Lion

In [43]:
numbers=[1,10,20,80,8]

In [44]:
total=0
for value in numbers:
    total=total+value
print(total)

119

In [45]:
total=0
for value in numbers:
    total+=value
print(total)

119

In [49]:
for i in range(5):
    print(i)

0
1
2
3
4

In [50]:
for i in range(5,9):
    print(i)

5
6
7
8

In [51]:
for i in range(5,100,20):
    print(i)

5
25
45
65
85

In [52]:
for x in range(1,11):
    for y in range(1,11):
        print ('%d * %d= %d'%(x,y,x*y))

1 * 1= 1
1 * 2= 2
1 * 3= 3
1 * 4= 4
1 * 5= 5
1 * 6= 6
1 * 7= 7
1 * 8= 8
1 * 9= 9
1 * 10= 10
2 * 1= 2
2 * 2= 4
2 * 3= 6
2 * 4= 8
2 * 5= 10
2 * 6= 12
2 * 7= 14
2 * 8= 16
2 * 9= 18
2 * 10= 20
3 * 1= 3
3 * 2= 6
3 * 3= 9
3 * 4= 12
3 * 5= 15
3 * 6= 18
3 * 7= 21
3 * 8= 24
3 * 9= 27
3 * 10= 30
4 * 1= 4
4 * 2= 8
4 * 3= 12
4 * 4= 16
4 * 5= 20
4 * 6= 24
4 * 7= 28
4 * 8= 32
4 * 9= 36
4 * 10= 40
5 * 1= 5
5 * 2= 10
5 * 3= 15
5 * 4= 20
5 * 5= 25
5 * 6= 30
5 * 7= 35
5 * 8= 40
5 * 9= 45
5 * 10= 50
6 * 1= 6
6 * 2= 12
6 * 3= 18
6 * 4= 24
6 * 5= 30
6 * 6= 36
6 * 7= 42
6 * 8= 48
6 * 9= 54
6 * 10= 60
7 * 1= 7
7 * 2= 14
7 * 3= 21
7 * 4= 28
7 * 5= 35
7 * 6= 42
7 * 7= 49
7 * 8= 56
7 * 9= 63
7 * 10= 70
8 * 1= 8
8 * 2= 16
8 * 3= 24
8 * 4= 32
8 * 5= 40
8 * 6= 48
8 * 7= 56
8 * 8= 64
8 * 9= 72
8 * 10= 80
9 * 1= 9
9 * 2= 18
9 * 3= 27
9 * 4= 36
9 * 5= 45
9 * 6= 54
9 * 7= 63
9 * 8= 72
9 * 9= 81
9 * 10= 90
10 * 1= 10
10 * 2= 20
10 * 3= 30
10 * 4= 40
10 * 5= 50
10 * 6= 60
10 * 7= 70
10 * 8= 80
10 * 9= 90
10 * 10= 100